<sc-modal headerTitle="{{ 'TITULOS.CORRETORAS.MODAL_EXCLUSAO_CORRETORA.TITULO' | translate }}" width="small">
  <div class="content">
    <img src="assets/images/ico-warning.svg" width=100 height=100>
    <p>
      {{ 'MENSAGEM.CORRETORAS.MODAL_EXCLUSAO_CORRETORA' | translate }}
    </p>
  </div>
  <div class="ss-modal-footer">
    <div class="ss-grid">
      <div class="col-offset-start-4 col-offset-end-1">
        <sc-button text="{{ 'LABEL.CORRETORAS.MODAL_EXCLUSAO_CORRETORA.BTN.CONFIRMAR' | translate }}" color="danger" (click)="excluirCentral()" [outline]="false">
        </sc-button>
      </div>
      <div class="col-offset-start-6 col-offset-end-1">
        <sc-button text="{{ 'LABEL.CORRETORAS.MODAL_EXCLUSAO_CORRETORA.BTN.CANCELAR' | translate }}" color="success" (click)="fechar()" [outline]="true" >
        </sc-button>
      </div>
    </div>
  </div>
</sc-modal>
