.ss-form-control {
  height: 36px;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #bfc3c7;
  background-color: #fff; 
  width: 100%;
  color: rgba(0,0,0,0.8); 
}

.label-proposta-documento {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #7C8593;
}
