.situacao-success{
  border-radius:15px;
  color:white;
  background-color: #00CC66;
  border:none!important;
  padding:10px;
}

.situacao-cancelada{
  border-radius:15px;
  color:white;
  background-color: #EB5757;
  border:none!important;
  padding:10px;
}

.situacao-pendente{
  border-radius:15px;
  color:white;
  background-color: #f39c12;
  border:none!important;
  padding:10px;
}
