<sc-card>
  <sc-card-content>
      <div class="ss-grid">
        <div class="col-1">
          <app-botao-funcionalidade [labelapp]="'Faturamento'" [iconAppBtn]="'mdi-square-inc-cash'" [routerApp]="'faturamento'"></app-botao-funcionalidade>
        </div>

        <div class="col-1">
          <app-botao-funcionalidade [labelapp]="'Relatórios'" [iconAppBtn]="'mdi-file-document-box-multiple'" [routerApp]="'relatorios'"></app-botao-funcionalidade>
        </div>
      </div>
  </sc-card-content>
</sc-card>

