<sc-modal id="dialogo" headerTitle="Empresa Protegida">
  <div class="ss-modal-body" style="    padding: 20px;
  display: flex;
  justify-content: center; cursor: pointer;">
    <a href="https://www.sicoobnegocios.com.br/cnv-2024-h/public/storage/acoes/empresa-mais-protegida/regulamento.pdf"
      target="_blank">
      <img src="assets/images/empresaMaisProtegida_popup.png" class="w100" alt="">
    </a>
  </div>
  <div class="ss-modal-footer">
    <div class="ss-group-inline" style="display: flex;justify-content: end;">
      <a class="ss-btn ss-btn-primary" (click)="close(false)">Fechar</a>
    </div>
  </div>
</sc-modal>