<sc-card>
  <sc-card-header>
    <h3>Configurações Gerais</h3>
  </sc-card-header>
  <sc-card-subtitle>
    <div class="sub-titulo ">
      <p>
        Selecione os parâmetros que você deseja configurar.
      </p>
    </div>
  </sc-card-subtitle>
  <sc-card-content>
    <div class="centralizar-card-externo col-6">
      <div class="caixa" (click)="irParaCorretoras()">
        <div class="caixa-top ct-vendas">
          <img src="assets/images/briefcase.svg" width=75 height=50>
        </div>
        <div class="centralizar-titulo">
          <div>
            <label class="label-box t-vendas">Corretoras</label>
          </div>
        </div>
      </div>
    </div>
  </sc-card-content>
</sc-card>

