.Destroying{
  color: #5175ef;
}

.Creating{
  color: #3561f3;
}

.Loading{
  color: #053cf1;
}

.NotRunning{
  color: #9f1212;
}

.Stopped{
  color: #9f1212;
}

.Exited{
  color: #9f1239;
}

.NotCreated{
  color: #650b24;
}

.Error{
  color: #650b24;
}

.Waiting{
  color: #9c8301;
}

.Stopping{
  color: #fbbf24;
}

.Running{
  color: #5ba120;
}
