.Reloading{
  color: #e6cd4b;
}

.Destroying{
  color: #5175ef;
}

.Creating{
  color: #3561f3;
}

.Loading{
  color: #053cf1;
}


.Stopped{
  color: #9f1212;
}

.Exited{
  color: #9f1239;
}

.NotCreated{
  color: #650b24;
}

.Waiting{
  color: #9c8301;
}

.Stopping{
  color: #fbbf24;
}

.Running{
  color: #5ba120;
}

.NotIsEnabled{
  background-color: #e2e8f0;
}
